.container
  .form-container
    .form-header
      %h1.form-title= t("confirmations.text")

    = form_for(resource, as: resource_name,
      url: confirmation_path(resource_name),
      html: { method: :post }) do |f|
      .field
        = f.label :email, t("devise.confirmations.email")
        = f.email_field :email, autofocus: true
      .actions
        = f.submit t("confirmations.text")
