.dashboard-container
  %ul.dashboard-navigation{ role: "navigation" }
    %li
      = link_to("#", class: "nav-link active") do
        Home
        %span.icon.icon-home
    %li
      = link_to("#", class: "nav-link") do
        Company
        %span.icon.icon-
    %li
      = link_to("#", class: "nav-link") do
        Products
        %span.icon.icon-
    %li
      = link_to("#", class: "nav-link") do
        Services
        %span.icon.icon-user
    %li
      = link_to("#", class: "nav-link") do
        Messages
        %span.icon.icon-envelope
    %li
      = link_to("#", class: "nav-link") do
        Account Settings
        %span.icon.icon-
  .dashboard-content
    %h1.title Welcome to your dashboard, Gosia!
    %h2.subtitle This is your command center.
