.dashboard-container
  %ul.dashboard-navigation{ role: "navigation" }
    %li
      = link_to("#", class: "nav-link active") do
        = t('dashboard_nav.home')
        %span.icon.icon-home
    %li
      = link_to("#", class: "nav-link") do
        = t('dashboard_nav.company')
        %span.icon.icon-briefcase
    %li
      = link_to("#", class: "nav-link") do
        = t('dashboard_nav.products')
        %span.icon.icon-shopping-cart
    %li
      = link_to("#", class: "nav-link") do
        = t('dashboard_nav.services')
        %span.icon.icon-user
    %li
      = link_to("#", class: "nav-link") do
        = t('dashboard_nav.messages')
        %span.icon.icon-envelope
    %li
      = link_to("#", class: "nav-link") do
        = t('dashboard_nav.settings')
        %span.icon.icon-cog
  .dashboard-content
    %h1.title Welcome to your dashboard, Gosia!
    %h2.subtitle This is your command center.
