%footer
  .gradient-decor
  %section.footer-column
    %h2.title= t("footer.about_us")
    %p.about-desc= t("footer.about_description")
    %h2.title= t("footer.find_us")
    = link_to("", "https://www.facebook.com/searchinmena",
      class: "social-link facebook-link", target: "_blank")
    = link_to("", "https://twitter.com/searchinmena",
      class: "social-link twitter-link", target: "_blank")
    = link_to("", "https://plus.google.com/+Searchinmena/",
      class: "social-link google-plus-link", target: "_blank")
    = link_to("", "https://www.linkedin.com/company/search-in-mena-fzllc",
      class: "social-link linkedin-link", target: "_blank")
    = link_to("", "https://www.instagram.com/searchinmena",
      class: "social-link instagram-link", target: "_blank")
    %h4.address-title= t("footer.address_title")
    %address
      = t("footer.address_line_1")
      %br
      = t("footer.address_line_2")
      %br
      = t("footer.address_line_3")
  %section.footer-column
    .footer-categories
      %a.footer-category-btn{ 'ui-sref': 'results({ type: "product" })' }
        %span.icon-shopping-cart
        {{ "home.products" | translate }}
      %a.footer-category-btn{ 'ui-sref': 'results({ type: "service" })' }
        %span.icon-user
        {{ "home.services" | translate }}
      %a.footer-category-btn{ 'ui-sref': 'results({ type: "business" })' }
        %span.icon-briefcase
        {{ "home.businesses" | translate }}
      %a.footer-category-btn{ href: "/premium"}
        %span.icon-star
        {{ "home.feature" | translate}}
  %section.sitemap
    %p.copyright
      © #{current_year}
      = t("footer.copyright")
