%footer
  .gradient-decor
  %section.footer-column
    %h2.title= t("footer.about_us")
    %p.about-desc= t("footer.about_description")
    %h2.title= t("footer.find_us")
    = link_to("", "https://www.facebook.com/searchinmena",
      class: "social-link facebook-link")
    = link_to("", "https://twitter.com/searchinmena",
      class: "social-link twitter-link")
    = link_to("", "https://plus.google.com/+Searchinmena/",
      class: "social-link google-plus-link")
    = link_to("", "https://www.linkedin.com/company/search-in-mena-fzllc",
      class: "social-link linkedin-link")
    %h4.address-title= t("footer.address_title")
    %address
      = t("footer.address_line_1")
      %br
      = t("footer.address_line_2")
      %br
      = t("footer.address_line_3")
  %section.footer-column
    %h2.title= t("footer.companies")
    %ul.companies-list
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.manufacturer")
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.trading_company")
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.buying_office")
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.agent")
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.distributor")
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.goverment_entity")
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.association")
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.business_services")
      %li
        = link_to("#", class: "companies-list-link") do
          = t("business.business_types.other")
  %section.sitemap
    %ul.sitemap-links
      %li
        = link_to("#", class: "sitemap-link") do
          = t("main_nav.browse")
      %li
        = link_to("#", class: "sitemap-link") do
          = t("main_nav.terms")
      %li
        = link_to("#", class: "sitemap-link") do
          = t("main_nav.privacy")
      %li
        = link_to("#", class: "sitemap-link") do
          = t("main_nav.contact_us")
      %li
        = link_to("#", class: "sitemap-link") do
          = t("main_nav.signup")
      %li
        = link_to("#", class: "sitemap-link") do
          = t("main_nav.login")
    %p.copyright
      © #{current_year}
      = t("footer.copyright")
