%footer
  .gradient-decor
  %section.footer-column
    %h2.title= t("footer.about_us")
    %p.about-desc= t("footer.about_description")
    %h2.title= t("footer.find_us")
    = link_to("", "https://www.facebook.com/searchinmena",
      class: "social-link facebook-link", target: "_blank",
      title: "Search in MENA Facebook")
    = link_to("", "https://twitter.com/searchinmena",
      class: "social-link twitter-link", target: "_blank",
      title: "Search in MENA Twitter")
    = link_to("", "https://plus.google.com/+Searchinmena/",
      class: "social-link google-plus-link", target: "_blank",
      title: "Search in MENA Google plus")
    = link_to("", "https://www.linkedin.com/company/search-in-mena-fzllc",
      class: "social-link linkedin-link", target: "_blank",
      title: "Search in MENA Linkedin")
    = link_to("", "https://www.instagram.com/searchinmena",
      class: "social-link instagram-link", target: "_blank",
      title: "Search in MENA Instagram")
    = link_to("", "https://www.youtube.com/channel/UCXLDcp5_8jeH8Zzzei_j_MA",
      class: "social-link youtube-link", target: "_blank",
      title: "Search in MENA Youtube")
    = link_to("", "https://angel.co/search-in-mena",
      class: "social-link angel-link", target: "_blank",
      title: "Search in MENA Angel List")
    %h4.address-title= t("footer.address_title")
    %address
      = t("footer.address_line_1")
      %br
      = t("footer.address_line_2")
      %br
      = t("footer.address_line_3")
  %section.footer-column
    .footer-categories
      -# %a.footer-category-btn{ 'ui-sref': 'results({ type: "product" })', target: "_self" }
      %a.footer-category-btn{ href: 'categories({ type: "product" })', target: "_self" }
        %span.icon-shopping-cart
        {{ "home.products" | translate }}
      -# %a.footer-category-btn{ 'ui-sref': 'results({ type: "service" })', target: "_self" }
      %a.footer-category-btn{ href: 'categories({ type: "service" })', target: "_self" }
        %span.icon-user
        {{ "home.services" | translate }}
      %a.footer-category-btn{ 'ui-sref': 'results({ type: "business" })', target: "_self" }
        %span.icon-briefcase
        {{ "home.businesses" | translate }}
      %a.footer-category-btn{ href: "/premium", target: "_self" }
        %span.icon-star
        {{ "home.feature" | translate}}
      -# %a.footer-category-btn{ href: "/categories?type=product", target: "_self" }
      -# {{ "category.product" | translate}}
      -# %a.footer-category-btn{ href: "/categories?type=service", target: "_self" }
      -# {{ "category.service" | translate}}
    = image_tag("award.png", class: "award-img")

  %section.sitemap
    %p.copyright
      © #{current_year}
      = t("footer.copyright")
    .footer-link
      %a.footer-category-btn{ href: "https://angel.co/search-in-mena/activity#press", target: "_blank" }
        = t("footer.press")
      %a.footer-category-btn{ href: "about_us", target: "_self" }
        = t("footer.about_us")
      %a.footer-category-btn{ href: "terms", target: "_self" }
        = t("footer.terms")
      %a.footer-category-btn{ href: "faqs", target: "_self" }
        = t("footer.faqs")
