%header
  .language-selection{ "ng-controller": 'LanguageCtrl' }
    = link_to 'english', '#/',
      class: "language-choice", "ng-click": "changeLanguage($event, 'en')"
    = link_to 'العربية', '#/',
      class: "language-choice", "ng-click": "changeLanguage($event, 'ar')",
       lang: "ar"

  = link_to(root_path, class: "logo") do
    = image_tag("logo-proposition-4.png")
  .mobile-menu-btn
    %span.icon-list-alt
  %nav{ role: "navigation" }
    %ul
      %li
        = link_to(browse_path, class: "nav-link") do
          %span.icon.icon-search
          = t('main_nav.browse')
      %li
        - if user_signed_in?
          = link_to(dashboard_path, class: "nav-link user-link") do
            %span.icon.icon-home
            = t('main_nav.dashboard')
        - else
          = link_to(new_user_registration_path,
            class: "nav-link user-link") do
            = t('main_nav.signup')
      %li
        - if user_signed_in?
          = link_to(destroy_user_session_path, class: "nav-link user-link") do
            %span.icon.icon-off
            = t('main_nav.logout')
        - else
          = link_to(user_session_path, class: "nav-link user-link") do
            = t('main_nav.login')
.gradient-decor
