%h1.title= I18n.t('products.new.form_title')
%form{ "ng-submit": "submiI18n.t($event)" }
  %h3.line-behind
    %span= I18n.t('products.new.basic_section')
  .field
    %label= I18n.t('products.new.name')
    %input{ type: "text"}
  .field
    %label= I18n.t('products.new.category')
    %button.small-button= I18n.t('products.new.category_button')
  .field
    %label= I18n.t('products.new.photos')
    %button.small-button= I18n.t('products.new.photos_button')
    %p.field-comment= I18n.t('products.new.photos_comment')

  %h3.line-behind
    %span= I18n.t('products.new.details_section')
  .field
    %label= I18n.t('products.new.model')
    %input{ type: "text"}
  .field
    %label= I18n.t('products.new.brand')
    %input{ type: "text"}
  .field.compound-field
    %label= I18n.t('products.characteristics')
    %span= I18n.t('products.new.attribute')
    %input{ type: "text", :placeholder => I18n.t('products.new.attribute_placeholder')}
    %span= I18n.t('products.new.value')
    %input{ type: "text", :placeholder => I18n.t('products.new.value_placeholder')}
    %button.plus-button.icon-plus add more
  .field
    %label= I18n.t('products.new.description')
    %textarea

  %h3.line-behind
    %span= I18n.t('products.new.trade_section')
  .field.compound-field
    %label= I18n.t('products.new.order')
    %input{ type: "text"}
    .select-field
      %select
        %option --Choose unit--
        %option Boxes
        %option kg
        %option ton
        %option bottles
    %p.field-comment= I18n.t('products.new.order_comment')
  .field.compound-field
    %label= I18n.t('products.new.price')
    %input{ type: "text"}
    .select-field
      %select
        %option --Choose currency--
        %option BGP
        %option USD
    %span= I18n.t('products.new.per')
    .select-field
      %select
        %option --Choose unit--
        %option ton
        %option kg
    %p.field-comment= I18n.t('products.new.price_comment')
  .field
    %label= I18n.t('products.new.port')
    %input{ type: "text"}
  .field.compound-field
    %label= I18n.t('products.new.supply')
    %input{ type: "text"}
    %input{ type: "text"}
    %span= I18n.t('products.new.per')
    .select-field
      %select
        %option --Choose unit--
        %option ton
        %option kg
    %p.field-comment= I18n.t('products.new.supply_comment')
  .field
    %label= I18n.t('products.new.payment')
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Gold
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Mules
    .checkbox-field
      %input{ type: "checkbox"}
      %label.inline-label Smiles
  .field
    %label= I18n.t('products.new.packaging')
    %input{ type: "text"}
  .actions
    %input{ type: "submit", value: I18n.t('products.new.submit') }
