%section.company-view
  .company-header
    .company-logo-holder
      = image_tag('logo-1.png', class: "company-logo")
    .company-short-info
      %h2.company-name 
        Sage Software Middle East Sage Software Middle East
        Sage Software Middle EastSage Software Middle East
      .clearfix
        .contact-item
          %span.icon.icon-phone-alt
          696583445
        .contact-item
          %span.icon.icon-pushpin
          Wellington, New Zeland
      %button.contact-supplier
        %span.icon.icon-envelope
        Contact Seller
  .item-basic-info
    %table.item-details
      %tr
        %td.attribute Business Types:
        %td Manufacturer | Trading Company | Buying Office | Agent
      %tr
        %td.attribute Main Products:
        %td Coffee Tables, Coffee Mugs, Coffee Life, School Supplies
      %tr
        %td.attribute Year Company Registered:
        %td 1997
      %tr
        %td.attribute No. of employes:
        %td 150
  .item-detailed-info
    %h4.section-title.line-behind
      %span Trade Details
    %table.item-details
      %tr
        %td.attribute Annual sales value:
        %td USD 2,700,000.00
      %tr
        %td.attribute Main Markets:
        %td
          North America, Northern Europe, South America, Western Europe,
          Southern Europe
      %tr
        %td.attribute Customer list:
        %td Matel, IBM, Apple, Microsoft, Schools in London
      %tr
        %td.attribute Nearest port:
        %td La Manche, Sopot, Silicon Valey
      %tr
        %td.attribute Avarage lead time:
        %td 7 days
      %tr
        %td.attribute Offices overseas:
        %td Poland, Czech Republic, Denmark
      %tr
        %td.attribute Language spoken:
        %td english | german | polish | arabic
      %tr
        %td.attribute Accepted delivery terms:
        %td UPC | Plane | Ship
      %tr
        %td.attribute Accepted payment terms:
        %td Others | Wire Transfer | PayPal | Credit Card | L/C | T/T
  .item-detailed-info
    %h4.section-title.line-behind
      %span Certifications
    .certificate
      .cert-name INTEGRITY SHOPEX
      .cert-origin issued by SHANGHAI SHAGNPAI NETWORK TECHNOLOGY CO.,LTD
      .cert-img
        = image_tag("certification.jpg")
  .item-detailed-info
    %h4.section-title.line-behind
      %span Company Introduction
    %p.item-description
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.
  .item-detailed-info
    %h4.section-title.line-behind
      %span Company Gallery
    .company-gallery
      = image_tag("warehouse-1.jpg")
      = image_tag("warehouse-2.jpg")
      = image_tag("strange-1.jpg")
      = image_tag("strange-2.jpg")
      = image_tag("strange-1.jpg")

