.container
  .form-container
    .form-header
      %h1.form-title= t("devise.passwords.edit_page_header")

    = form_for(resource, as: resource_name,
    url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .field
        = f.label :password, t("devise.passwords.new_password_field")
        = f.password_field :password, autofocus: true, autocomplete: "off"
      .field
        = f.label :password_confirmation,
          t("devise.passwords.confirm_password_field")
        = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit t("devise.passwords.submit_edit")
