.get-more-buyers-markup.section-container
  .get-more-buyers-text
    .section-title
      = t("home_one.more_buyer")
    %p.explanation
      = t("home_one.explanation")
  .boxes
    .box.box-one
      %h4
        = t("home_one.box_one_heading")
      %hr
      %p
        = t("home_one.box_one_desc")
    .box.box-two
      %h4
        = t("home_one.box_two_heading")
      %hr
      %p
        = t("home_one.box_two_desc")
    .box.box-three
      %h4
        = t("home_one.box_three_heading")
      %hr
      %p
        = t("home_one.box_three_desc")