.icons-list-markup.section-container
  .section-title
    .section-title
      = t("home_one.we_help")
  .icons-list
    .home-icons
      .home-icons-img
        %img{ src: "/marking/images/icons/manufacture-2.png" }
      %h4
        = t("home_one.manufacturers")
    .home-icons
      .home-icons-img
        %img{ src: "/marking/images/icons/trading-2.png" }
      %h4
        = t("home_one.trading")
    .home-icons
      .home-icons-img
        %img{ src: "/marking/images/icons/agents-2.png" }
      %h4
        = t("home_one.agents")
    .home-icons
      .home-icons-img
        %img{ src: "/marking/images/icons/buying-offices-2.png" }
      %h4
        = t("home_one.buying_office")
    .home-icons
      .home-icons-img
        %img{ src: "/marking/images/icons/wholesaler-2.png" }
      %h4
        = t("home_one.wholesalers")
    .home-icons
      .home-icons-img
        %img{ src: "/marking/images/icons/service-providers-2.png" }
      %h4
        = t("home_one.service_provider")
    .home-icons
      .home-icons-img
      %h4
        = t("home_one.others")