%title Search In MENA
%meta{ content: "width=device-width, initial-scale=1, maximum-scale=1",
  name: "viewport" }/
= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js'
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"
= javascript_include_tag 'application'
%link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,700,300", :rel => "stylesheet", :type => "text/css"}
= yield :javascripts
