%title Search In MENA
%meta{ content: "width=device-width, initial-scale=1, maximum-scale=1",
  name: "viewport" }/
= stylesheet_link_tag 'application', media: 'all'
= javascript_include_tag "//js.honeybadger.io/v0.2/honeybadger.min.js"

:javascript
  window.honeybadgerEnv = #{ A9n.env.to_json }
= javascript_include_tag 'application'

%link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,700,300", :rel => "stylesheet", :type => "text/css"}
= yield :javascripts
