!!!
%html{ lang: I18n.locale }
  %head
    = render "/layouts/head"

  %body{ 'ng-app' => 'sim', 'dir' => dir }
    - if user_signed_in?
      - if !@email_confirmed
        .alert.alert-warning= ("Please confirme your email")
    = render "components/header"
    = yield
    = render "components/footer"
