%p
  = t("devise.mailer.hello_msg")
  %span (#{@resource.email}!)
%p= t("devise.mailer.msg_line_1")
%p= link_to t("devise.mailer.reset_password"),
edit_password_url(@resource, reset_password_token: @token)
%p= t("devise.mailer.msg_line_2")
%p= t("devise.mailer.msg_line_3")
