%p= t("decise.mailer.hello_msg","#{@resource.email}!")
%p= t("decise.mailer.msg_line_1")
%p= link_to t("decise.mailer.reset_password_instructions"),
edit_password_url(@resource, reset_password_token: @token)
%p= t("decise.mailer.msg_line_2")
%p= t("decise.mailer.msg_line_3")
