%p= t("devise.mailer.hello_msg", "#{@resource.email}!")
%p= t("devise.mailer.lock_msg_1")
%p= t("devise.mailer.lock_msg_2")
%p= link_to t("devise.mailer.unlock_text"),
unlock_url(@resource, unlock_token: @token)
