%h3.line-behind
  %span= t("sign_up.contant_info_header")

= f.fields_for business do |b|
  .field
    = b.label :name, t("sign_up.company_name")
    = b.text_field :name
    = error_message_for(business, :name)

  .field
    = b.label :country, t("sign_up.location")
    .select-field
      = country_select :"user[business]", :country,
        prompt: t("sign_up.location_select")

  .field
    = b.label :phone, t("sign_up.contact_number")
    = b.text_field :phone
    = error_message_for(business, :phone)

  .field
    = b.label :business_type, t("sign_up.business_type")
    .select-field
      = b.select :business_type,
        business_presenter.options_for_business_types_select,
        prompt: t("sign_up.business_type_select")

  .field
    = label_tag :main_products, t("sign_up.main_products")
    %tags-input{ "ng-model": "tags" }
      %auto-complete{ source: "loadTags($query)" }

