%h3.line-behind
  %span= t("sign_up.contant_info_header")

= f.fields_for business do |b|
  = form_field("business.name") do
    = b.label :name, t("sign_up.company_name")
    = b.text_field :name, "ng-model": "form.business.name"

  = form_field("business.country") do
    = b.label :country, t("sign_up.location")
    .select-field
      %select{ "ng-options": "country.id as country.label for country in countries | orderBy:'label'", "ng-model": "form.business.country" }
        %option{ value: "" }= t("sign_up.location_select")

  = form_field("business.phone") do
    = b.label :phone, t("sign_up.contact_number")
    = b.text_field :phone, "ng-model": "form.business.phone"

  .field{ "field-name": "business.business_types", "ng-class": "{'field-with-errors': errors.business.business_types}" }
    %label {{ "company.basic_info.business_types" | translate }}
    %multiselect{ "model": "form.business_types", "options": "business_types", "select-button-text": "selectButtonText" }
    %error-message-for{ "error": "errors.business.business_types" }

  .field
    = label_tag :main_products, t("sign_up.main_products")
    %tags-input{ "ng-model": "form.tags", "display-property": "name",
      "replace-spaces-with-dashes": "false" }
      %auto-complete{ source: "loadTags($query)",
        "select-first-match": "false" }
