.form-wrapper
  .form-header
    %h1.form-title= t("devise.registrations.create")
    %h3
      = t("devise.links.login_text")
      = link_to t("devise.sessions.submit"), user_session_path

  = form_for user, url: registration_path(:user) do |f|
    .field
      = f.label :email, t("devise.active_record.attributes.user.email")
      = f.email_field :email, autofocus: true
      = error_message_for(user, :email)
    .field
      = f.label :password, t("devise.registrations.password")
      - if @validatable
        .field-comment= t("devise.registrations.password_field_info",
        number: @minimum_password_length)
      = f.password_field :password, autocomplete: "off"
      = error_message_for(user, :password)
    .field
      = f.label :password_confirmation,
      t("devise.registrations.password_confirmation")
      = f.password_field :password_confirmation, autocomplete: "off"
      = error_message_for(user, :password_confirmation)

    .field
      %label= t("text.category_label")
      - User.categories.keys.each do |cat|
        .checkbox-field
          = f.radio_button :category, cat
          = f.label User.category_name(cat), for: "user_category_" + cat,
            class: "inline-label"
      = error_message_for(user, :category)
    .fields-group
      %h3.fields-group-title
        = t("sign_up.contant_info_header")

      = f.fields_for business do |b|
        .field
          = b.label :name, t("sign_up.company_name")
          = b.text_field :name
          = error_message_for(business, :name)

        .field
          = b.label :country, t("sign_up.location")
          .select-field
            = country_select :"user[business]", :country,
            prompt: t("sign_up.location_select")

        .field
          = b.label :phone, t("sign_up.contact_number")
          = b.text_field :phone
          = error_message_for(business, :phone)

        .field
          = b.label :business_type, t("sign_up.business_type")
          .select-field
            = b.select :business_type,
              business_presenter.options_for_business_types_select,
              prompt: t("sign_up.business_type_select")


        .field
          = label_tag :main_products, t("sign_up.main_products")
          = text_field_tag :main_products

      .actions
        = f.submit t("devise.registrations.submit")

