.form-wrapper
  .form-header
    %h1.form-title= t("devise.registrations.create")
    %h3
      = t("devise.links.login_text")
      = link_to t("devise.sessions.submit"), user_session_path

  = form_for user, url: registration_path(:user) do |f|
    = link_to(user_omniauth_authorize_path(:facebook),
              class: "facebook-sign-up") do
      .icon-facebook
      = t("sign_up.facebook")
    %p.line-behind
      %span= t('sign_up.or')

    .field
      = f.label :first_name,
      t("devise.active_record.attributes.user.first_name")
      = f.text_field :first_name, autofocus: true
      = error_message_for(user, :first_name)

    .field
      = f.label :last_name, t("devise.active_record.attributes.user.last_name")
      = f.text_field :last_name
      = error_message_for(user, :last_name)

    .field
      = f.label :email, t("devise.active_record.attributes.user.email")
      = f.email_field :email
      = error_message_for(user, :email)

    = f.hidden_field :provider

    - if user.provider.present?
      = f.hidden_field :password
      = f.hidden_field :password_confirmation

    - else
      .field
        = f.label :password, t("devise.registrations.password")
        .field-comment= t("devise.registrations.password_field_info",
        number: A9n.validations[:password_min_length])
        = f.password_field :password, autocomplete: "off"
        = error_message_for(user, :password)

      .field
        = f.label :password_confirmation,
        t("devise.registrations.password_confirmation")
        = f.password_field :password_confirmation, autocomplete: "off"
        = error_message_for(user, :password_confirmation)

    .field
      %label= t("text.category_label")
      - User.categories.keys.each do |cat|
        .checkbox-field
          = f.radio_button :category, cat, "ng-model": "category",
            "ng-checked": user.category == cat
          = f.label User.category_name(cat), for: "user_category_#{cat}",
            class: "inline-label"
      = error_message_for(user, :category)

    .fields-group.company-info{ "ng-show": "shouldShowCompanyInfo(category)" }
      = render partial: "company_info",
        locals: { f: f,
                  business: business,
                  business_presenter: business_presenter }

    .actions
      = f.submit t("devise.registrations.submit")
