.form-wrapper
  .form-header
    %h1.form-title Create Account
    %h3
      = t("devise.links.login_text")
      = link_to t("devise.sessions.submit"), user_session_path

  = form_for(resource, as: resource_name,
    url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email, t("devise.active_record.attributes.user.email")
      = f.email_field :email, autofocus: true
    .field
      = f.label :password, t("devise.registrations.password")
      - if @validatable
        .field-comment= t("devise.registrations.password_field_info")
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation,
      t("devise.registrations.password_confirmation")
      = f.password_field :password_confirmation, autocomplete: "off"
    .actions
      = f.submit t("devise.registrations.submit")

