.container{ "ng-controller": "RegistrationsCtrl",
"ng-init": "init('#{Api::UserPresenter.new(user).to_json}')" }
  .sign-up-wrapper
    = render partial: "users/registrations/form",
      locals: { user: user, business: business,
                business_presenter: business_presenter }

    .form-additional-panel
      %h1.title= t("text.title")
      %p.description= t("text.description")

      %h2.subtitle
        = t("text.line")
        %span= t("text.subtitle_1")
      %ul
        %li.registration-benefit= t("text.seller_line_1")
        %li.registration-benefit= t("text.seller_line_2")
        %li.registration-benefit= t("text.seller_line_3")

      %h2.subtitle
        = t("text.line")
        %span= t("text.subtitle_2")
      %ul
        %li.registration-benefit= t("text.buyer_line_1")
        %li.registration-benefit= t("text.buyer_line_2")
        %li.registration-benefit= t("text.buyer_line_3")
